<div class="game-edit">
  <div class="informations">
    <h3>Informations générales</h3>
    <div class="informations__form">
      <div>
        <div class="gm-input">
          <div class="gm-input__label">titre</div>
          <input type="text" class="gm-input__input" />
        </div>
        <div class="gm-input">
          <div class="gm-input__label">image</div>
          <input type="file" class="gm-input__input" />
        </div>
      </div>
      <div>
        <div class="gm-input">
          <div class="gm-input__label">description</div>
          <textarea class="gm-input__text-area"></textarea>
        </div>
      </div>
      <div>
        <div class="gm-input">
          <div class="gm-input__label">genres</div>
          <select name="genre" id="genre"></select>
        </div>
        <div class="gm-input">
          <div class="gm-input__label">thèmes</div>
          <select name="themes" id="themes"></select>
        </div>
      </div>
    </div>
  </div>
  <div class="tools">
    <div class="tools__container">
      <div class="tools__item variant-font">wiki</div>
      <div class="tools__item variant-font">campagnes & scénario</div>
      <div class="tools__item variant-font">Création de table</div>
      <div class="tools__item variant-font">fiche personnage</div>
      <div class="tools__item variant-font">soundboards</div>
    </div>
  </div>
  <div class="summary">
    <div class="summary__game-master">
      <h3>maitre du jeu</h3>
    </div>
    <div class="summary__player">
      <h3>joueur</h3>
    </div>
  </div>
</div>
