// PATH
$path-base: '/assets/' !default;
$path-image: '#{$path-base}images/';
$path-fonts: '#{$path-base}fonts/';

// COLORS
$dark: hsla(190, 20%, 10%, 1);
$light: hsla(190, 10%, 90%, 1);

$white: hsla(0, 100%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);
$red: hsla(360, 75%, 40%, 1);
$green: hsla(64, 57%, 46%, 1);
$blue: hsla(208, 79%, 28%, 1);
$orange: hsla(20, 68%, 48%, 1);

$night: hsla(210, 30%, 5%, 1);
$clear-night: hsla(200, 20%, 18%, 1);
$grey-blue: hsla(200, 40%, 75%, 1);
