// PATH
$path-base: '/assets/' !default;
$path-image: '#{$path-base}images/';
$path-fonts: '#{$path-base}fonts/';

// COLORS
$dark: hsla(190, 20%, 10%, 1);
$light: hsla(190, 10%, 90%, 1);

$night: hsla(210, 30%, 5%, 1);
$clear-night: hsla(200, 20%, 15%, 1);
$classic-blue: hsla(208, 79%, 28%, 1);
$grey-blue: hsla(200, 40%, 75%, 1);

$red: hsla(360, 75%, 40%, 1);
