html {
  @include respond('xs') {
    font-size: 62.5%; //1 rem = 10px
  }

  @include respond('s') {
    font-size: 75%; //1 rem = 12px
  }

  @include respond('m') {
    font-size: 87.5%; //1 rem = 14px
  }

  @include respond('l') {
    font-size: 100%; //1 rem = 16px
  }
}

body {
  margin: 0;
  background-color: rgba($night, 0.97);
  color: $light;
}

* {
  box-sizing: border-box;
}

.body-wrapper {
  height: calc(100vh - 4rem);
  padding: 1rem 1rem 0 6rem;
  overflow: auto;
}
