@font-face {
  font-family: Big-John;
  src: url('/assets/fonts/bigJohnPro/bigJohnPRO-Regular.otf') format('truetype');
}
@font-face {
  font-family: Big-John-Light;
  src: url('/assets/fonts/bigJohnPro/bigJohnPRO-Light.otf') format('truetype');
}
@font-face {
  font-family: Big-John-Bold;
  src: url('/assets/fonts/bigJohnPro/bigJohnPRO-Bold.otf') format('truetype');
}
@font-face {
  font-family: Le-Super-Serif;
  src: url('/assets/fonts/leSuperSerif/leSuperSerif_SemiBold.ttf') format('truetype');
}

