@font-face {
  font-family: Spartan;
  src: url('/assets/fonts/spartanMB/spartanMB-Medium.otf') format('truetype');
}
@font-face {
  font-family: Spartan-Light;
  src: url('/assets/fonts/spartanMB/spartanMB-Light.otf') format('truetype');
}
@font-face {
  font-family: Spartan-Bold;
  src: url('/assets/fonts/spartanMB/spartanMB-Bold.otf') format('truetype');
}
@font-face {
  font-family: Le-Super-Serif;
  src: url('/assets/fonts/leSuperSerif/leSuperSerif_SemiBold.ttf') format('truetype');
}

