@import '../../../style/abstracts/variables';

.card {
  width: 18rem;
  height: 25rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
  background: $clear-night;
  color: $light;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.4em;
    border-bottom: solid 0.1rem $light;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &__body {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    font-family: Spartan-Light;
  }

  &__adds {
    padding: 0.5rem;
    height: 3.5rem;

    & div:first-child {
      margin-bottom: 0.5rem;
    }
  }

  &__adjective {
    font-family: Spartan-Light;
    font-size: 0.8em;

    span {
      font-family: Spartan-Bold;
    }

    &--genres {
      color: $red;
    }

    &--themes {
      color: $red;
    }
  }

  &--presentation {
    .card__body {
      display: none;
    }
  }
  &--detailed {
    .card__title {
      display: none;
    }
    .card__adds {
      display: none;
    }
  }
}
