<div class="p-management">
  <div class="p-management__main">
    <div class="section informations" [formGroup]="partyForm">
      <h3>Informations</h3>
      <div class="informations__form">
        <div>
          <div class="gm-input">
            <div class="gm-input__label">nom</div>
            <input type="text" class="gm-input__input" formControlName="name" />
          </div>
          <div class="gm-input">
            <div class="gm-input__label">visibilité</div>
            <div class="gm-input__input--radio">
              <span><input type="radio" formControlName="isPrivate" value="false" />publique</span>
              <span><input type="radio" formControlName="isPrivate" value="true" />privé</span>
            </div>
          </div>
        </div>
        <div *ngIf="isCreation">
          <div class="gm-input">
            <div class="gm-input__label">session 0 :</div>
            <input type="date" formControlName="nextSessionDate" />
          </div>
        </div>
        <div *ngIf="!isCreation">
          <div class="gm-input">
            <div class="gm-input__label">dernière session :</div>
            <input type="date" formControlName="previousSessionDate" />
          </div>
          <div class="gm-input">
            <div class="gm-input__label">prochaine session :</div>
            <input type="date" formControlName="nextSessionDate" />
          </div>
        </div>
        <div *ngIf="!isCreation">
          <div class="gm-input">
            <div class="gm-input__label">campagne :</div>
            <input type="texte" formControlName="currentCampaignId" />
          </div>
          <div class="gm-input">
            <div class="gm-input__label">prochain scénario :</div>
            <input type="texte" formControlName="nextScenarioId" />
          </div>
        </div>
        <div>
          <div class="gm-input">
            <div class="gm-input__label">règles et prérequis :</div>
            <textarea class="gm-input__text-area" formControlName="prerequisite"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isCreation" class="aside player" [formGroup]="partyForm">
      <h3>Joueurs</h3>
      <div class="player__adder" (click)="openInvitational()">sélection des joueurs</div>
      <div class="aside__container">
        <ng-container *ngFor="let player of players">
          <div class="player__item">
            <div>{{ player.nickname }}</div>
            <div>o</div>
          </div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="party && !party.isPrivate" class="aside player">
      <h3>Candidats</h3>
      <div class="player__adder">valider la sélection</div>
      <div class="aside__container">
        <ng-container *ngFor="let candidate of candidates">
          <div class="player__item">
            <div>{{ candidate }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="!isCreation" class="p-management__deposit">
    <h3>
      documents annexes
    </h3>
    <gm-doc-deposit></gm-doc-deposit>
  </div>
</div>

<gm-modal class="modal" id="invitational-modal">
  <h4>Mes contacts</h4>
  <div class="modal__body">
    <ngx-datatable
      class="gm-datatable"
      [rowHeight]="'auto'"
      [footerHeight]="'auto'"
      [rows]="contactList"
      [columnMode]="'flex'"
      [selected]="selectedContact"
      [selectionType]="selectionType.multiClick"
      [rowClass]="getRowClass"
      [count]="contactList.length"
      (select)="selectContact($event)"
      #ngxDatatable
    >
      <ngx-datatable-column name="Nom" prop="surname" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Prénom" prop="firstName" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Pseudo" prop="nickname" [flexGrow]="1"></ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="modal__footer">
    <button class="gm-button gm-button--warn" (click)="cancelInvitationalModal()">
      annuler
    </button>
    <button class="gm-button gm-button--ok" (click)="addContactsToPlayers()">
      valider
    </button>
  </div>
</gm-modal>
