// colors

$primary: $grey-blue;

// fonts
html {
  font-family: Spartan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Spartan-Bold;
  margin: 1rem;
}

.variant-font{
  font-family: Big-John;
  text-transform: uppercase;
}
